@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

.App {
    font-family: 'Poppins';
}

.name {
    position: relative;
    width: max-content;
    letter-spacing: 0.5px;
}

.name::before,
.name::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.name::before {
    background: white;
    animation: typewriter 2s ease-in 1s forwards;
}

.name::after {
    width: 0.2rem;
    height: auto;
    background: white;
    animation: typewriter 2s ease-in 1s forwards
}

@keyframes typewriter {
    to { 
        left: 100%; 
    }
}

.links {
    @apply ml-[40px] relative
}

.links::after {
    @apply content-[''] bg-[#0F0F0F] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
}

.links:hover::after {
    @apply w-[100%]
}


.slick-slide > div {
    margin: 0 70px 50px 50px;
}

.slick-list {
    margin: 0 -70px 50px 50px;
}


.skill-inner:hover {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
}



.arrow-sided {
    color: #47689C;
    cursor: pointer;
    transform: rotate(49.275deg);
}

.content {
    @apply inline-block mt-[33px] px-[24px] w-[340px] text-[16px] text-[#898989] font-medium overflow-hidden h-0 transition-opacity duration-300
}

.content {
    transition: ease-in-out;
    transition-duration: 300ms;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    width: 340px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.link {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: ease-in-out;
    transition-duration: 300ms;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.link.show {
    opacity: 100;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

